@import '../../styles/variables';

.details{
  &__card {
    width: 100%;
    max-width: 500px;
    margin: 50px auto 0;
    border-radius: $card-radius;
    padding: 20px;
    position: relative;
    background-color: $variant-color;
    box-shadow: $card-shadow;
    overflow: hidden;
    &::after {
      content: '';
      display: block;
      width: 250px;
      height: 250px;
      position: absolute;
      bottom: -75px;
      right: -75px;
      background: url('../../statics/earth-globe.svg') no-repeat center;
      background-size: contain;
      opacity: 0.15;
    }
  }
  &__card-header {
    border-bottom: 2px solid rgba($color: $light-color, $alpha: $opacity);
  }
  &__card-title {
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
      font-size: 3rem;
    }
  }
  &__card-body {
    padding-top: 5px;
    ul {
      list-style: none;
    }
    li {
      padding-top: 20px;
    }
    p {
      font-size: 1.4rem;
    }
  }
}

.back {
  font-size: 3rem;
  &:hover {
    cursor: pointer;
  }
}
