/* FONTS */
$font-size: 62.5%;  // 10px = 1rem
$font: 'Open Sans', sans-serif;

/* COLORS */
$primary-color: rgb(15, 32, 45);
$secondary-color: rgb(23, 43, 58);
$variant-color: rgb(40, 65, 85);;
$light-color: #ffffff;
$warning-color: #d62828;

/* GENERAL */
$opacity: 0.5;
$card-radius: 5px;
$card-shadow: 0px 0px 4px 0px #000000;
