@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  font-family: $font;
  font-size: 1.6rem;
  color: $light-color;
  background-color: $primary-color;
}

#root {
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.info-message {
  font-style: italic;
  opacity: $opacity;
}

.error-message {
  color: $warning-color;
}
