@import '../../styles/variables';

.title {
  font-size: 3rem;
  text-align: center;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
